*{
	margin: 0;
	padding: 0;
	height: 100vh;
}

.sec1 {
	height: 8.78%;
	width: 100%;
    background-color: rgba(233,233,233,1);
	opacity: 90%;
	border: 0px solid rgba(204,204,204,1);
}

/*
.avtar {
	height: 75%;
	width: 5.31;
	background-color: rgba(233,233,233,1);
	opacity: 90%;
}
*/

/*
.text {
	height: 87.40%;
	width: 73.52%;
	color: rgba(62,62,115,1);
	font-weight: 600;
	font-size: 50px;
	text-align: center;
	letter-spacing: 0.5px;
	font-family: sans-serif;
}
*/