<!DOCTYPE html>
<html lang="en-US">
	<head>
		<title> Navigation </title>
		<meta charset="UTF-8">
		<link rel="stylesheet" href="nav.css">
	</head>
	<body>
		<div class="sec1">
			<div class="avtar">
				<p class="text">A</p>
			</div>
			<div class="icon">
				<img src="">
			</div>
		</div>		
	</body>
</html>