*{
	margin: auto;
}
.form{
	border:1px solid black;
	width: 50%;
	height: 100vh;
}
.xyz{
	margin: 1.5%;
}

input[type="text"] , input[type="number"] , input[type="date"] {
	 border: 1px solid black;
	 width: 100%;
	 height: 30px;
}
textarea{
  border: 1px solid black;
  width: 100%;
  height: 100px;
}
input[type="radio"] {
	margin: 1%;
}
.btn{
	text-align: center;
	margin-top: 5%;
}
.button{
	border: 1px solid black;
	color: black;
	background-color: white;
	height: 30px;
	width: 100px;
	cursor:auto;
	margin: 3%;
}
#department{
	width: 82%;
	border: 1px solid black;
	height: 30px;
	background-color: white;
}
