body{
    margin: 0;
    padding: 0;
}
.search{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 66px;
    width: 860px;
    background: rgba(204,204,204,1);
    border-radius: 13px;
}
.search input[type="text"]{
    height: 50px;
    width: 804px;
    font-size: 36px;
    font-weight: 400;
    line-height: 1em;
    color: black;
    text-align: left;
    font-family: "Helvetica Neue";
    border: none;
    background: rgba(204,204,204,1);
    margin: 10px;
}
::placeholder{
    color: rgba(253,253,253,1);
}

/*
.search input[type="text"]:focus{
   border: none;
}
*/
