 <!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Welcome</title>
        <link rel="stylesheet" type="text/css" href="index.css">  
    </head>
    <body>
        <div class="container">
            <div class="heading">
                <p>Welcome Back!</p>
            </div>
            <div class="form">
                    <div class="input-group">
                        <div class="email">
                             <input type="text" name="" placeholder="Email">
                            
                        </div>            
                        <div class="password">        
                            <input type="password"name="" placeholder="Password">
                        </div>
                    </div>
                    <div class="options">
                       <div class="option1">
                            <a href="#">Forget Password?</a>
                        </div>                   
                        <div class="option2">
                            <p>LOGIN</p>
                        </div>            
                    </div>
                
            </div>
        </div>
    </body>
</html> 