<!DOCTYPE html>
<html lang="en-US">
	<head>
		<title> Sub Menu</title>
		<meta charset="UTF-8">
		<link rel="stylesheet" href="submenu.css">
	</head>
	<body>
		<div class="submenu">
			<ul>
				<div class="item"><li><a href="#">DASHBOARD</a></li></div>
				<div class="item"><li><a href="#">REQUEST BOOK</a></li></div>
				<div class="item"><li><a href="#">HISTORY</a></li></div>
				<div class="item"><li><a href="#">FINE</a></li></div>
				<div class="item"><li><a href="#">NOTIFICATION</a></li></div>
			</ul>
		</div>
	</body>
</html>